<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Buddy</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/chatbox.css">
</head>

<body class="bg-info" style="font-family: 'Poetsen One', sans-serif;">
  <nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <a class="navbar-brand text-warning" href="#" style="font-size: 50px; font-family: 'Poetsen One', sans-serif;">
      <img src="img/eventbuddy.jpg" class="img-fluid" style="width: 80px;">
      Event Buddy
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="ml-auto">
        <button class="btn btn-warning text-dark m-2" id="home">Home</button>
        <button class="btn btn-warning text-dark m-2" id="login">Login</button>
        <button class="btn btn-warning text-dark m-2" id="logout">Logout</button>
      </div>
    </div>
  </nav>
  <main class="container-fluid">
    {{{ body }}}
  </main>
  <footer class="bg-danger text-white text-center py-2 fixed-bottom" style="font-family: 'Poetsen One', sans-serif;">
    <p>&copy; 2024 EventBuddy. All rights reserved.</p>
  </footer>

  {{#if logged_in}}
    <script src="/js/logout.js"></script>
  {{/if}}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
