<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Buddy</title>
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <nav>
      <button class="btn" id="home">Home</button>
    </nav>
    <h1>
      EventBuddy
    </h1>
  </header>
  <main class="container container-fluid mt-5">
    Body Here
  </main>
  <footer>
      
  </footer>

</body>