body {
    font-family: Arial, sans-serif;
}

#chat-box {
    max-height: 200px;
    overflow-y: auto; /* Add scroll bars when needed */
    height: 200px;
    padding: 0 10px;
}

.chat-message {
    margin-bottom: 1em;
}
.bot-message {
    background-color: #F1F1F1;
    padding: 0.5em;
    border-radius: 5px;
}
.user-message {
    background-color: #007BFF;
    color: #fff;
    padding: 8px 12px;
    border-radius: 10px;
    display: inline-block;
}
.input-container {
    display: flex;
    width: 100%;
}
.user-input {
    flex: 1;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.send-btn {
    padding: 0.5em 1em;
    background-color: #007BFF;
    color: white;
    border: 1px solid #007BFF;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    margin-left: 1em;;
}
.send-btn:hover {
    background-color: #0056B3;
}
